{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
{% block js %}

{% endblock %}


{% block main %}
<div class="content"><div class="ic">OMPARS where recipes come to life!</div>
<a href="index-2.html" class="block1">
  <img src="/static/img/blur_img1.jpg" alt="">
  <span class="price"><span>New</span><span> Recipes</span><strong></strong></span>
</a>
<a href="index-2.html" class="block1">
  <img src="/static/img/blur_img2.jpg" alt="">
  <span class="price"><span>Latest</span><span> Meal Plan</span><strong></strong></span>
</a>
<a href="index-2.html" class="block1">
  <img src="/static/img/blur_img3.jpg" alt="">
  <span class="price"><span>Check Out</span>
<span>Shopping</span><span> List</span><strong></strong></span>
</a>

  <div class="container_12">
    <div class="grid_12">
      <h3>New Recipes</h3>
      <br>
      <br>
    </div>
    <div class="grid_3">
      <div class="box maxheight">
        <img src="/static/img/box_img1.jpg" alt="">
        <div class="title">Breakfast</div>
        Breakfast is the most important meal of the day, so make it special. We have the best breakfast ideas and recipes here!
        <br>
        <a href="#">More Info</a>
      </div>
    </div>
    <div class="grid_3">
      <div class="box maxheight">
        <img src="/static/img/box_img2.jpg" alt="">
        <div class="title">Lunch</div>
		Try our wide array of lunch recipes and ideas and you're sure to find something delicious for every midday occasion!
		<br>
        <a href="#">More Info</a>
      </div>
    </div>
    <div class="grid_3">
      <div class="box maxheight">
        <img src="/static/img/box_img3.jpg" alt="">
        <div class="title">Dinner</div>
		Spice up weeknight dinners with the best healthy recipes. With these delicious dinner recipes, you can whip up a fresh and tasty meal that's sure to please the entire family.         
		<br>
        <a href="#">More Info</a>
      </div>
    </div>
    <div class="grid_3">
      <div class="box maxheight">
        <img src="/static/img/box_img4.jpg" alt="">
        <div class="title">Snacks</div>
		Healthy snacking is a great way to combat hunger in between meals. Find recipes and ideas for delicious snacks to munch on at home or take on-the-go!
		<br>
        <a href="#">More Info</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
