{% extends "base.html" %}

{% block css %}
    
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/login1.css">
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block js %}

{% endblock %}
{% block main %}
    <title>ORMPS login form</title>

  

    
  
    <div class="wrapper">
  <form class="login" action="/login/" method="post">
    <p class="title">Online Meal Planner and Recipe System </p>
	<p class="title2"> Log In </p>
    {{ form.Email.label }}
    {{ form.Email(autofocus=true, required=true, placeholder="email") }}
    <i class="fa fa-user"></i>
    {{ form.password.label }}
    {{ form.password(autofocus=true, required=true, placeholder="password") }}
    <i class="fa fa-key"></i>
	<a href="/Register/index2.html">Need to create an account?</a>
    {{ form.Submit }}
  </form>
  <footer></footer>
  </p>
</div>
    

{% endblock %}
