
   
    
   {% extends "base.html" %}

{% block css %} 
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/register.css">
     <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block js %}

{% endblock %}
{% block main %}


    <div class="wrapper">
  <form class="register" action="/register/" method="post" >
    <p class="title">Online Meal Planner and Recipe System </P>
      {% for message in form.firstname.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.lastname.errors %}
                 <div class="flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.gender.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.email.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.password.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.confirm.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
	<p class="title2">New User</p>
  {{ form.firstname.label }}
  {{ form.firstname(autofocus=true, required=true, placeholder="firstname") }}
    <i class="fa fa-user"></i>
		{{ form.lastname.label }}
  {{ form.lastname(autofocus=true, required=true, placeholder="lastname") }}
    <i class="fa fa-user"></i>
  <fieldset>
    {{ form.gender.label }}
    {{ form.gender}}
  </fieldset>
  {{ form.email.label }}
  {{ form.email(autofocus=true, required=true, placeholder="email") }}
    <i class="fa fa-user"></i>
    {{ form.password.label }}
  {{ form.password(autofocus=true, required=true, placeholder="password") }}
    <i class="fa fa-key"></i>
    {{ form.confirm.label }}
  {{ form.confirm(autofocus=true, required=true, placeholder="password") }}
    <i class="fa fa-key"></i>
	<a href="/Login/index.html">Already registered?</a>
  
  {{ form.accept_tos.label }}{{ form.accept_tos }}
  
      {{ form.Submit }}
    
  </form>
  <footer></footer>
  </p>
</div>
    {% endblock %}
    

